.marg{
padding-right: 10px !important;
}

.card{
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    
}
.flex-column{
    align-items: center!important;

}
.app-btn {
    border-radius: 25px;
}

.sign-up-btn {
    background-color: #ffffff;
    color: #0079d3;
    border: 1px solid #0079d3;
    font-weight: bold;
    height: 32px;
    width: 120px;
}

.sign-up-btn:hover {
    background-color: #97cef89d;
}

.sign-in-btn {
    background-color: #ff4500;
    color: #ffffff;
    border: 1px solid #ff4500;
    font-weight: bold;
    height: 32px;
    width: 120px;
}

.sign-in-btn:hover {
    background-color: #db3a00;
}

.modal-sign-in-btn {
    width: 300px;
    height: 40px;
}

.app-logo {
    height: 32px;
    width: 32px;
    margin: 0;
}

.app-navbar {
    background-color: white;
}

body {
    background-color: #dae0e6;
}

.user-menu-btn {
    height: 38px;
    border: 1px solid white !important;
    color: #878a8c !important;
}

.user-menu-btn:hover {
    border: 1px solid #edeff1 !important;
    color: #878a8c !important;
    border-radius: 5px !important;
}

.annonymous-user-menu-btn {
    width: 70px;
}

.signed-in-user-menu-btn {
    width: 180px;
}

.user-dropdown {
    width: 300px !important;
    border: 1px solid #edeff1 !important;
}

.sign-in-up-modal {
    width: 400px;
}

.modal-dialog {
    justify-content: center !important;
}

.sign-in-up-modal-input {
    height: 45px;
    border-radius: 25px;
    background-color: #f6f7f8 !important;
    border: 1px solid #f6f7f8 !important;
}

.sign-in-up-modal-input:focus {
    box-shadow: none !important;
}

.sign-in-up-modal-input:hover {
    border-color: gray !important;
}

.search-reddit-input {
    height: 40px;
    border-radius: 25px;
    background-color: #f6f7f8 !important;
    border: 1px solid #E8E8E8 !important;
}

.search-reddit-input:hover {
    border-color: #0079d3 !important;
}

.search-reddit-input:focus {
    box-shadow: none !important;
}

.create-submission-input:hover {
    border-color: gray !important;
}

.create-submission-input:focus {
    box-shadow: none !important;
    border-color: gray !important;
}

.white-hr {
    background-color: white;
    height: 1px;
}

.gray-hr {
    background-color: #c6c7c8;
    height: 1px;
}

.create-submission-btn {
    background-color: #ff4500;
    color: #ffffff;
    border: 1px solid #ff4500;
    font-weight: bold;
    height: 38px;
    width: 60px;
}

.create-submission-btn:hover {
    background-color: #db3a00;
}

.user-avatar-small {
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.username-small {
    color: black !important;
    height: 12px;
    font-size: 12px;
    margin: 0;
    position: relative;
    bottom: 6px;
}

.karma-small {
    color: #878a8c !important;
    height: 12px;
    font-size: 12px;
    margin: 0;
    position: relative;
    bottom: 3px;
}

img{
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h6{
    font-size: 12px;
}

.upvote-clicked{
    color: #ff4500;
}

.downvote-clicked{
    color: #0000ff;
}

.upvote-arrow:hover{
    color: #FF8b60;
}

.downvote-arrow:hover{
    color: #9494FF;
}

.search-container {
    position: relative;   
}

.search-container input{
    text-indent: 25px;
}

.search-container .fa-search{
    position: absolute;
    top: 14px;
    left: 16px;
}

.create-submission-rules-card {
    height: 340px;
}

.readit-blue-font {
    color: #0079d3;
}

.create-post-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0;
}

.create-submission-card {
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#create-submission-card-input {
    background-color: #f6f7f8 !important;
    border: 1px solid #E8E8E8 !important;
    border-radius: 5px;
}

#create-submission-card-input:hover {
    border-color: #0079d3 !important;
}

#create-submission-card-input:focus {
    box-shadow: none !important;
}

html {
    overflow-y:scroll;
}

.create-post-btn {
    background-color: #0079d3;
    color: white;
    border: 1px solid #0079d3;
    font-weight: bold;
    height: 38px;
    width: 250px;
}

.create-post-btn:hover {
    background-color: #0f97ff;
    color: white;
}

.light-gray-border {
    border: 1px solid #d2d2d2 !important;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.back-to-top-btn {
    position: fixed;
    bottom: 10px;
    right: 15px;
    background-color: #0079d3;
    color: white;
    border: 1px solid #0079d3;
    font-weight: bold;
    height: 38px;
    width: 120px;
    border-radius: 25px;
}

.back-to-top-btn:hover{
    background-color: #0f97ff;
    color: white;
}

.create-comment-btn {
    background-color: #ff4500;
    color: #ffffff;
    border: 1px solid #ff4500;
    font-weight: bold;
    height: 38px;
    width: 140px;
}

.create-comment-btn:hover {
    background-color: #db3a00;
}
   