.app-btn {
    border-radius: 25px;
}

.sign-up-btn {
    background-color: #ffffff;
    color: #0079d3;
    border: 1px solid #0079d3;
    font-weight: bold;
    height: 38px;
    width: 120px;
}

.sign-up-btn:hover {
    background-color: #97cef89d;
}

.log-in-btn {
    background-color: #ff4500;
    color: #ffffff;
    border: 1px solid #ff4500;
    font-weight: bold;
    height: 38px;
    width: 120px;
}

.log-in-btn:hover {
    background-color: #db3a00;
}

.modal-log-in-btn {
    width: 300px;
    height: 40px;
}

.app-logo {
    height: 32px;
    width: 32px;
}

.app-navbar {
    background-color: white;
}

body {
    background-color: #dae0e6;
}

.user-menu-btn {
    height: 32px;
    width: 80px;
    border: 1px solid white !important;
    color: #878a8c !important;
}

.user-menu-btn:hover {
    border: 1px solid #edeff1 !important;
    color: #878a8c !important;
    border-radius: 5px !important;
}

.user-dropdown {
    width: 300px !important;
    border: 1px solid #edeff1 !important;
}

.login-modal {
    width: 400px;
}

.modal-dialog {
    justify-content: center !important;
}

.login-register-modal-input {
    height: 45px;
    border-radius: 25px;
    background-color: #f6f7f8 !important;
    border: 1px solid #f6f7f8 !important;
}

.login-register-modal-input:focus {
    box-shadow: none !important;
}

.login-register-modal-input:hover {
    border-color: gray !important;
}

.search-reddit-input {
    height: 40px;
    border-radius: 25px;
    background-color: #f6f7f8 !important;
    border: 1px solid gray !important;
}

.search-reddit-input:hover {
    border-color: #0079d3 !important;
}

.search-reddit-input:focus {
    box-shadow: none !important;
}

.create-submission-input:hover {
    border-color: gray !important;
}

.create-submission-input:focus {
    box-shadow: none !important;
    border-color: gray !important;
}

.white-hr {
    background-color: white;
    height: 1px;
}

.create-submission-btn {
    background-color: #ff4500;
    color: #ffffff;
    border: 1px solid #ff4500;
    font-weight: bold;
    height: 38px;
    width: 60px;
}

.create-submission-btn:hover {
    background-color: #db3a00;
}