{% load static %}

<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Desc">
        <meta name="author" content="Author">
        <title>{% block title %}Readit{% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/libraries/bootstrap/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <script src="{% static "js/libraries/jQuery/jquery-3.6.3.min.js" %}"></script>
        <script src="https://kit.fontawesome.com/27fa2195f2.js" crossorigin="anonymous"></script>

    </head>
    <body>
        {% block navbar %}
            {% include 'layout/navbar.html' %}
        {% endblock %}

        {% block sign_in %}
            {% include 'public/sign-in.html' %}
        {% endblock %}

        {% block sign_up %}
            {% include 'public/sign-up.html' %}
        {% endblock %}

        <div class="container">
            {% block content %}
                <a>Readit App</a>
            {% endblock %}
        </div>

        <script src="{% static "js/libraries/bootstrap/bootstrap.bundle.min.js" %}"></script>
        
        {% block js %}
        {% endblock %}
    </body>
</html>