{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<div class='text-center display-1'>
    readit
</div>

<script src="{% static '/js/votes.js' %}"></script>

<div class="card-columns">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card my-3">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div>
                            <form action="{% url 'upvote' submission.id %}" method="post">
                                {% csrf_token %}
                                <i class="upvote-arrow-{{submission.id}} fas fa-arrow-up upvote-arrow" onclick="upvote({{submission.id}})"></i>
                            </form>
                            <span class="upvote-counter-{{ submission.id }} badge badge-primary badge-pill text-dark">{{ submission.upvotes }}</span>
                            <form action="{% url 'downvote' submission.id %}" method="post">
                                {% csrf_token %}
                                <i class="downvote-arrow-{{submission.id}} fas fa-arrow-down downvote-arrow" onclick="downvote({{submission.id}})"></i>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">r/{{ submission.subreadit }} :
                            <span class="card-subtitle mb-2 text-muted">u/{{ submission.author }}</span> :
                            <span class="card-subtitle mb-2 text-muted">{{ submission.created_at|naturaltime }}</span>
                        </h6>
                        <h5 class="card-title">{{ submission.title }}</h5>
                        <p class="card-text">{{ submission.text }}</p>
                        <img src="{{ submission.image_url }}" alt="" class="img-fluid">
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <a href="" class="btn btn-secondary btn-sm disabled">
                            <i class="fas fa-comment"></i>
                            Comments
                        </a>
                    </div>
                        {% for comment in comments %}
                            <div class="card">
                                <div class="media my-3">
                                    <img src="{{ comment.user.avatar_url }}" alt="avatar" class="mr-3 rounded-circle" style="width: 50px; height: 50px;">
                                    <div class="media-body">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="mt-0">{{ comment.user }}</h5>
                                            <span class="text-muted">{{ comment.created_at|naturaltime }}</span>
                                        </div>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}