{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="{% static '/js/common.js' %}"></script>
<script src="{% static '/js/votes.js' %}"></script>
<script src="{% static '/js/submissions.js' %}"></script>

<div>
    {% if request.user.is_authenticated %}
        <div class="d-flex justify-content-center px-4 mt-3">
            <div class="d-flex col-6 p-2 bg-white create-submission-card">
                <img class="create-post-avatar me-2" src="{{ readit_user.avatar_url }}" />
                <input id="create-submission-card-input" class="form-control w-100" type="text" placeholder="Create Post" />
            </div>
        </div>
    {% endif %}

    <div class="mt-1">
        {% for submission in submissions %}
            {% include './submission-card.html' with submission=submission %}
        {% endfor %}
    </div>
</div>

{% endblock %}