
<div class="modal fade" id="sign-up-modal" tabindex="-1" aria-labelledby="sign-up-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content login-modal">
        <div class="d-flex justify-content-end p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="p-4 mx-4">
          <div class="modal-header mb-3">
              <div>
                  <h4 class="modal-title mb-2" id="loginModalLabel">Sign Up</h4>
                  <small>
                      By continuing, you agree are setting up a Readit account and agree to our 
                      <a href="#">User Agreement</a> and <a href="#">Privacy Policy</a>. 
                  </small>
              </div>
            </div>
            <div class="modal-body">
              <form>
                  <div class="mb-3">
                    <input type="text" class="form-control login-register-modal-input" id="recipient-name" placeholder="Email">
                  </div>
                  <div class="mb-3">
                      <input type="text" class="form-control login-register-modal-input" id="recipient-name" placeholder="Username">
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control login-register-modal-input" id="recipient-name" placeholder="Password">
                </div>
              </form>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-center mb-4">
              <div>
                  <button type="button" class="app-btn log-in-btn modal-log-in-btn">Log In</button>
              </div>
              <div class="w-100 mt-3">
                  <small>
                      Already a readitor? <a href="#" data-bs-toggle="modal" data-bs-target="#log-in-modal" class="fw-bold">Log In</a>
                  </small>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    