{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="card-columns">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card my-3">
                    <div class="card-header text-center">
                        <h2>r/{{ subreadit.name }}</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ subreadit.description }}</p>
                        <div>
                            <p><strong>Owner:</strong> u/{{ subreadit.owner }}</p>
                            <p><strong>Created at:</strong> {{ subreadit.created_at|date:"d.m.Y"}}</p>
                        </div>
                        <p><strong>Moderators:</strong>
                            {% for moderator in subreadit.moderators.all %}
                                u/{{ moderator }},
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/votes.js' %}"></script>

<div class="card-columns">
    {% for submission in submissions %}
        {% include './submission-card.html' with submission=submission %}
    {% endfor %}
</div>

{% endblock %}